@use '../global' as *;

.l-header {
  background-color: $color-white;
}

// .l-header__container {
// }

.l-header__logo {
  width: fluid(107, 167);
  aspect-ratio: 107 / 21;
  z-index: 10;

  @include mq(md) {
    aspect-ratio: 167 / 33;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
