<header class="l-header">
  <div class="l-header__container">
    <h1 class="l-header__logo">
      <a href="/">
        <img src="/assets/images/common/logo.svg" width="" height="" alt="" />
      </a>
    </h1>
  </div>
</header>
